body {
  margin: 30px;
}
.header_sub {
  text-decoration: underline;
  font-style: italic;
  margin-top: 12px;
}

.player{
  padding:10px;
  border-radius: 5px;
  border: black solid 1px;
  position:fixed;
  bottom: -50px;
  height: 50px;
  width:400px;
  transition: bottom 1s ease-in-out;
}

.player-active{
  bottom: -10px;
}
