<div class="container-fluid">
    <H2>Notice</H2>
    <p>Users of the old API (www.radio-browser.info) should migrate to the new one. It uses a newer server software, which is actively maintained and which is faster. Please follow the documentation bellow.</p>
    <H2>HowTo</H2>
    These steps should be done in your APP or program.
    <ol>
        <li>
            <H3>Get a list of available servers</H3>
            Do a DNS-lookup of 'all.api.radio-browser.info'. This gives you a list of all available servers.<br/>
            To get the nice names you can do a reverse DNS-Lookup of the entries from the first request and display them to the user.<br/>
            There are some examples of how to do this in different languages: <a href="../serverlist.js">NodeJS</a>, <a href="../serverlist.py">Python</a>, <a href="../serverlist.java">Java (Android)</a><br/>
            Now you have a list of multiple names of servers which you can use to directly connect to with HTTP and preferably HTTPS.<br/>
            Example: https://de1.api.radio-browser.info, https://de2.api.radio-browser.info, ..
        </li>
        <li>
            <H3>Choose an entry from the list</H3>
            Either let the user choose one server from the list with a dialog or<br/>
            just choose a random one. It is a good idea to check the choosen one with a simple status request to "/stats" if it still works.
        </li>
        <li>
            <H3>Continue with the docs of the server</H3>
            I try to keep them all at the same version, so they should always all be the same.<br/>
            Here are some examples of working servers:
            <ul>
                <li><a href="https://de1.api.radio-browser.info">https://de1.api.radio-browser.info</a></li>
                <li><a href="https://de2.api.radio-browser.info">https://de2.api.radio-browser.info</a></li>
                <li><a href="https://fr1.api.radio-browser.info">https://fr1.api.radio-browser.info</a></li>
                <li><a href="https://nl1.api.radio-browser.info">https://nl1.api.radio-browser.info</a></li>
            </ul>
            Click the links to find out about the API.
        </li>
    </ol>
</div>
