<div class="container-fluid">
    This FAQ will grow as time goes by. Every question you ask in emails will get added here.
    <H3>Automatic station check</H3>
    <dl>
        <dt>How often is every station checked?</dt>
        <dd>It depends on the overall number of stations in the database and if the station is currently marked as broken. Currently a cron job is run every 10 minutes which checks 50 working stations and 10 broken stations.</dd>
        <dt>In what order are the stations checked?</dt>
        <dd>The stations, that were not checked for the longest time are checked first.</dd>
    </dl>
</div>
