<div class="container-fluid">
    This FAQ will grow as time goes by. Every question you ask in emails will get added here.
    <H3>Automatic station check</H3>
    <dl>
        <dt>Why is my click not counted?</dt>
        <dd>I count only one click per IP address per station a day. Some people were clicking their favorite stations
            hundreds of times every day by using the programmers API.
        </dd>
        <dt>How often is every station checked?</dt>
        <dd>It depends on the overall number of stations in the database and if the station is currently marked as
            broken. Currently a cron job is run every 10 minutes checking 50 working stations and 10 broken
            stations.
        </dd>
        <dt>In what order are the stations checked?</dt>
        <dd>The stations that were not checked for the longest time are checked first.</dd>
        <dt>Why are some stations marked as broken even when they are not?</dt>
        <dd>This can have multiple causes:
            <ul>
                <li>Legal restrictions:
                    <br/> There may be some countries which have legal restrictions prohibiting your favorite
                    stations from broadcasting worldwide. It has to be possible to connect to it from my server
                    located in Germany.
                </li>
                <li>High Costs:
                    <br/> Some others would allow global broadcast but let the stations pay huge amounts of money to
                    copyright owners if they want to do that. Please talk to your station or your local political
                    representatives to ensure the freedom of global
                    broadcasting.
                </li>
                <li>Status not up to date:<br/>
                    Sometimes streams go down for some time. If the automatic check happens to be there at this exact
                    time, they will be marked as broken. It will take some time that this station is checked again and marked
                    as usable.
                </li>
                <li>Bugs:
                    <br/> My program has a BUG :) If you think that is the case, please drop me a note or if you are a
                    programmer, fix it on github.
                </li>
            </ul>
        </dd>
        <dt>When will stations get deleted?</dt>
        <dd>There are 2 cases in which stations will get deleted automatically:
            <ul>
                <li>New stations that never worked will get deleted after 3 days.</li>
                <li>Stations that did work at some point, but have not been working for at least 30 days now will get deleted.</li>
            </ul>
        </dd>
    </dl>
    <H3>Caches</H3>
    <dl>
        <dt>What is cached?</dt>
        <dd>The list of tags and the list of languages are calculated from the data. They are refreshed every 60 seconds.
        </dd>
    </dl>
    <H3>Project structure</H3>
    <dl>
        <dt>I want to use the radio-browser api in my own app/program.</dt>
        <dd>
            You have 2 possibilies:
            <ul>
                <li>
                    Use the old variant which is for now in use at www.radio-browser.info:<br/>
                    There is a README at <a href="https://github.com/segler-alex/radiobrowser-api">radiobrowser-api</a>.
                </li>
                <li>
                    Use the new system at <a href="https://github.com/segler-alex/radiobrowser-api-rust">radiobrowser-api-rust</a> which
                    powers the new second level servers. It will automatically mirror the main server because it supports federation. This
                    is probably your easiest bet.
                </li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt>I want to setup my own radiobrowser API server. How do I do that?</dt>
        <dd>
            You have 2 possibilies:
            <ul>
                <li>
                    Use the old variant which is for now in use at www.radio-browser.info:<br/>
                    There is a README at <a href="https://github.com/segler-alex/radiobrowser-api">radiobrowser-api</a>.
                </li>
                <li>
                    Use the new system at <a href="https://github.com/segler-alex/radiobrowser-api-rust">radiobrowser-api-rust</a> which
                    powers the new second level servers. It will automatically mirror the main server because it supports federation. This
                    is probably your easiest bet.
                </li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt>Does radio-browser have some kind of federation network?</dt>
        <dd>
            The new api <a href="https://github.com/segler-alex/radiobrowser-api-rust">radiobrowser-api-rust</a> does have federation.<br/>
            The old one <a href="https://github.com/segler-alex/radiobrowser-api">radiobrowser-api</a> does not.
        </dd>
    </dl>
    <dl>
        <dt>What is the future plan for www.radio-browser.info?</dt>
        <dd>
            <u>Current State</u><br/>
            At the moment www.radio-browser.info/webservice is the only first level server handling most users.<br/>
            There are some second level servers which already use the new style api and use federation to mirror the content of the first level server.<br/>
            For now stations are distributed from the first level server to the second level servers and NOT in the other direction. That means stations added to second level servers will not get distributed and will be deleted eventually.
            <u>Future</u><br/>
            The server at www.radio-browser.info/webservice will be shut down eventually and the current second level servers
            will become the first level servers for other people to use and mirror.<br/>
            Stations can be added to any one of the new first level servers and will be distributed among them.
        </dd>
    </dl>
    <dl>
        <dt>How does federation work?</dt>
        <dd>
            Every server does keep a station change history which does keep all additions and changes.
            This can be pulled from other servers as a full version or as a differential from the state they already have.
            Each server also does keep a history of station checks, which can also be pulled in a similiar fashion.<br/><br/>
            <u>TO BE DONE:</u><br/>
            <ul>
                <li>combine station checks fetched from multiple servers to an ultimate station online/offline state.</li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt><a href="https://github.com/segler-alex/radiobrowser-api-rust">radiobrowser-api-rust</a></dt>
        <dd>Language: RUST<br/>
            Provides API documented at multiple second level servers at
            <ul>
                <li><a href="https://de1.api.radio-browser.info">de1.api.radio-browser.info</a></li>
                <li><a href="https://de2.api.radio-browser.info">de2.api.radio-browser.info</a></li>
                <li><a href="https://nl1.api.radio-browser.info">nl1.api.radio-browser.info</a></li>
            </ul>
        </dd>
    </dl>
    <dl>
        <dt><a href="https://github.com/segler-alex/http-distribute-requests">http-distribute-requests</a></dt>
        <dd>Language: NodeJs<br/>
            Acts as a central point for handing out redirects to the other second level servers<br/>
            Available at: <a href="https://api.radio-browser.info">api.radio-browser.info</a> (this only gives out redirects to the others)
        </dd>
    </dl>
    <dl>
        <dt><a href="https://github.com/segler-alex/radiobrowser-api">radiobrowser-api</a></dt>
        <dd>Language: PHP<br/>
            DEPRECATED, will only live until api.radio-browser.info has all features.<br/>
            Provides the API at <a href="http://www.radio-browser.info/webservice/">http://www.radio-browser.info/webservice/</a>.
        </dd>
    </dl>
    <dl>
        <dt><a href="https://github.com/segler-alex/radiobrowser">radiobrowser</a></dt>
        <dd>Language: HTML, Javascript, Angular 1<br/>
            Basic web page to list, play and add stations. Communicate to radiobrowser-api through REST requests.
        </dd>
    </dl>
    <dl>
        <dt><a href="https://github.com/segler-alex/stream-check-rust">stream-check</a></dt>
        <dd>Language: Rust<br/>
            Depends on: av-stream-info<br/>
            DEPRECATED, will only live until api.radio-browser.info has all features.<br/>
            Provides stream check at www.radio-browser.info<br/>
            Check streams every 24 hours for metadata and if they are still online. Save the data to the database.<br/>
            Remove broken stations after some time.
        </dd>
    </dl>
    <dl>
        <dt><a href="https://github.com/segler-alex/radiobrowser-cleanup-tasks-rust">radiobrowser-cleanup-tasks</a></dt>
        <dd>Language: Rust<br/>
            DEPRECATED, will only live until api.radio-browser.info has all features.<br/>
            Provides database cleanup at www.radio-browser.info<br/>
            Refresh the caches.
        </dd>
    </dl>
    <dl>
        <dt><a href="https://github.com/segler-alex/av-stream-info-rust">av-stream-check</a></dt>
        <dd>Language: Rust<br/>
            Type: Library<br/>
            Repository: <a href="https://crates.io/crates/av-stream-info-rust">crates.io</a><br/>
            Depends on: playlist-decoder<br/>
            Library that checks audio and video streams and extracts metadata.
        </dd>
    </dl>
    <dl>
        <dt><a href="https://github.com/segler-alex/playlist-decoder-rust">playlist-decoder</a></dt>
        <dd>Language: Rust<br/>
            Type: Library<br/>
            Repository: <a href="https://crates.io/crates/playlist-decoder">crates.io</a><br/>
            Library that decodes various playlist formats (M3U,PLS,XSPF)
        </dd>
    </dl>
</div>
