<div>
    <table class="table table-condensed table-hover">
        <thead>
        <th width="200" style="text-align:center;vertical-align:middle;">Change Time (<a href="https://en.wikipedia.org/wiki/Central_European_Summer_Time"
                                        target="_blank">CEST</a>)
        </th>
        <th style="text-align:center;vertical-align:middle;">IP Address</th>
        <th style="text-align:center;vertical-align:middle;">Changes</th>
        <th style="text-align:center;vertical-align:middle;">Actions</th>
        </thead>
        <tbody>
        <tr ng-repeat="change in ctrl.list">
            <td>{{change.lastchangetime}}</td>
            <td>{{change.ip}}</td>
            <td>
                <pre>{{change.diff}}</pre>
            </td>
            <td></td>
        </tr>
        </tbody>
    </table>
</div>
