<div ng-controller="InfoController as info">
    <p>This is a community with the aim of collecting as many internet radio and TV stations as possible. Any help is appreciated!</p>
    <p><u>Statistics</u>
        <br/>Station count at the moment: <b>{{info.stats.stations}}</b>
        <br/> Station clicks last hour: <b>{{info.stats.clicks_last_hour}}</b>
        <br/> Station clicks last day: <b>{{info.stats.clicks_last_day}}</b>
        <br/> Distinct tags: <b>{{info.stats.tags}}</b>
        <br/> Distinct countries: <b>{{info.stats.countries}}</b>
        <br/> Distinct languages: <b>{{info.stats.languages}}</b>
    </p>
    <p>
        <font color="red">EDIT is suspended because of vandalism. ADD is still possible.</font>
    </p>
    <p><u>HELP!</u>
        <br/>Please help by fixing stations in the tab "broken". The stations there do not work at the present time.
        <br/>If you do not know how to do that, please have a look at the tab "improve", and add more information to the
        stations like tags or country.
        <br/>If you find bugs in this webpage, report them to <a href="https://github.com/segler-alex/radiobrowser">Github</a>
        <br/>If you find bugs in the webservice API, report them to <a
                href="https://github.com/segler-alex/radiobrowser-api">Github</a></p>
    <p>
        <u>Free for ALL!</u>
        <br/> Everyone can use this station board in their software freely. Just have a look at the API documentation.
        <br/> Everyone is free to use the collected data (station names, tags, links to stream, links to homepages,
        language, country, state) in their works.
        <br/> I give all the rights I have at the accumulated data to the public domain.
        <br/>A daily backup of the MariaDB tables is at <a href="http://www.radio-browser.info/backups/">www.radio-browser.info/backups/</a>
        and <a href="http://www.radio-browser.info/backups/latest.sql.gz">latest</a>.
    </p>
    <p>To play the stations, you need some media player software like:
        <br/>
    <ul>
        <li><a href="http://www.winamp.com/">Winamp</a> (Windows, OS X)</li>
        <li><a href="https://www.videolan.org/">VLC</a> (Windows, Linux, Android, OS X)</li>
        <li><a href="https://www.clementine-player.org/">Clementine</a> (Windows, Linux, OS X)</li>
        <li>many many more....</li>
        <li>yes, maybe Windows Media Player works too :)</li>
    </ul>
    </p>
    <p>It is used by the following projects:
    <ul>
        <li>
            <a href="https://www.programmierecke.net/programmed/rhythmbox-radio-browser.html">Rhythmbox-Radio-Browser</a>
            - A plugin for <a href="http://projects.gnome.org/rhythmbox/">rhythmbox</a></li>
        <li><a href="https://github.com/fossfreedom/radio-browser">Rhythmbox-Radio-Browser Fork for GTK 3.0</a></li>
        <li><a href="https://odio.io/">Odio</a> - Graphical player for windows,mac,linux</li>
        <li><a href="http://milki.include-once.org/streamtuner2/">StreamTuner2 (Contrib-Plugin)</a></li>
        <li>RadioDroid (Android: <a
                href="https://play.google.com/store/apps/details?id=net.programmierecke.radiodroid2">Google Play</a> /
            <a href="https://f-droid.org/packages/net.programmierecke.radiodroid2/">F-Droid</a>) - <a
                    href="https://github.com/segler-alex/RadioDroid">Source on GitHub</a></li>
        <li>
            <a href="https://dreambox.de/board/index.php?thread/16645-e2-plugin-internetradio-mit-musik-visualisierung-und-webinterface/&postID=111994#post111994">DreamBox
                Plugin</a></li>
        <li><a href="https://play.google.com/store/apps/details?id=com.humbergsoftware.musicbox.androidapp">Musicbox</a>
            (Android)
        </li>
        <li><a href="https://github.com/haecker-felix/gradio">Gradio</a> (Linux/GTK/Gnome) - <a
                href="https://github.com/haecker-felix/gradio/wiki/Install-Gradio">HowTo Install</a></li>
        <li>Kodi/XBMC Plugin <a href="https://kodi.tv/addon/music-add-ons-plugins/radio-browserinfo">Official Kodi Addon
            Repository</a>, source: <a href="https://github.com/segler-alex/kodi-radio-browser">Github</a></li>
        <li><a href="https://archive.codeplex.com/?p=netradio">NetRadio</a>, source: <a
                href="https://archive.codeplex.com/?p=netradio">codeplex</a> (Windows)
        </li>
        <li>Gnome Shell Radio Plugin <a href="https://extensions.gnome.org/extension/836/internet-radio/">Official Gnome
            Addon Repository</a>, source: <a href="https://github.com/hslbck/gnome-shell-extension-radio">Github</a>
        </li>
        <li><a href="https://nesnomis.wordpress.com/sailfishosjolla/allradio/">AllRadio</a> (Jolla SailfishOS
            phones/tablets), source: <a href="https://github.com/nesnomis/harbour-allradio">Github</a></li>
        <li>A <a href="https://github.com/Pext/pext_module_radiobrowser">plugin</a> for the Python-based extendable tool
            <a href="https://github.com/Pext/Pext">Pext</a> (Python)
        </li>
        <li><a href="https://radiolise.gitlab.io/">Radio-li-se</a> is a beautiful web based client. (<a
                href="https://gitlab.com/radiolise/radiolise.gitlab.io">gitlab</a>)
        </li>
        <li><a href="https://bemba.surge.sh/">Radio Bempa</a> is a nice web based client.</li>
        <li>
            <a href="https://board.dreambox.tools/wbb/index.php?thread/9066-musiccenter-9-1-r0-musik-plugin-10-12-2017/&postID=169674#post169674">MusicCenter</a>
            for DreamOS enigma2
        </li>
        <li><a href="https://talk.maemo.org/showthread.php?t=94590">OCSP</a> <a
                href="https://sourceforge.net/projects/oscp/files/binaries/">Source</a> (Maemo)
        </li>
        <li><a href="https://github.com/deeice/ziptuner">Ziptuner</a> (<a
                href="https://en.wikipedia.org/wiki/Zipit_wireless_messenger_(Z2)">Zipit</a>)
        </li>
        <li><a href="https://notabug.org/zPlus/InternetRadio">Internet Radio</a> (<a
                href="https://f-droid.org/packages/community.peers.internetradio/">F-Droid</a>,
            Android)
        </li>
        <li><a href="https://dokk.org/about">DOKK</a></li>
        <li><a href="http://www.indr.ch/projects/">335</a> - Radio app for android for visually impaired people <a
                href="https://github.com/indr/335">Source</a> <a
                href="https://play.google.com/store/apps/details?id=ch.indr.threethreefive">PlayStore</a></li>
        <li><a href="https://radios2s.scriptel.nl">RadioS2S</a> - Radio app for android <a
                href="https://play.google.com/store/apps/details?id=com.scriptel.simplyradio">PlayStore</a>
                <a href="https://github.com/fsch0203/radios2s">Source code</a>
        </li>
        <li>Shortwave (Successor of Gradio) - <a href="https://gitlab.gnome.org/World/Shortwave">gitlab</a></li>
        <li><a href="https://apps.nextcloud.com/apps/radio">Radioplugin for NextCloud</a></li>
        <li>Castro (Chromecast Radio) - <a href="https://play.google.com/store/apps/details?id=guru.tall.castro">Playstore</a></li>
        <li>Radio FM Player - TuneFM - <a href="https://play.google.com/store/apps/details?id=fm.radio.sanity.radiofm">Playstore</a></li>
        <li>Web client for Mopidy and MPD - <a href="https://fatg3erman.github.io/RompR/">Website</a> - <a href="https://github.com/fatg3erman/RompR">github</a></li>
        <li>Open Radio, app with android auto support - <a href="https://bitbucket.org/ChernyshovYuriy/openradio">Source</a>, <a href="https://play.google.com/store/apps/details?id=com.yuriy.openradio">Playstore</a></li>
        <li>.. and of course this little angular webpage too :) which can be forked on <a
                href="https://github.com/segler-alex/radiobrowser">github</a></li>
    </ul>
    <H3>Closed source users</H3>
    <ul>
        <li>InstaRadio - iOS App - <a href="https://apps.apple.com/us/app/instaradio-radio-player/id538537206">AppStore</a> - <a href="https://www.soriko.no/instaradio/">Developer Site</a></li>
        <li>Radio Volume Booster - iOS App - <a href="https://apps.apple.com/us/app/id887768699">AppStore</a> - <a href="https://petralex.pro/de/apps/radio">Developer Site</a></li>
    </ul>
    <H3>Libraries</H3>
    <ul>
        <li>radiobrowser4j Java library - <a href="https://github.com/sfuhrm/radiobrowser4j">github</a></li>
        <li>NodeJS module - <a href="https://www.npmjs.com/package/radio-browser">NPM</a> - <a href="https://github.com/nepodev/radio-browser">github</a></li>
        <li>Python module - <a href="https://pypi.org/project/pyradios/">pypi.org</a> - <a href="https://github.com/andreztz/pyradios">github</a></li>
        <li>GraphQL radio-browser module - <a href="https://github.com/ricardocasares/radio-gql">github</a></li>
    </ul>
    If you know an app that is using this service but not listed here, please drop me a note.
    <br/>Thank you!
    </p>
    <p><u>Legal:</u>
        <br/> I'm not in any way responsible for the entries on this webpage because this is a community-driven effort
        (like Wikipedia for example). Nor am I responsible for the radio stations that can be found here themselves.
    </p>
    <p>Admin: <a href="mailto:segler_alex@web.de">Mail</a></p>
</div>
