<div ng-show="tags.tagList.length > 0">
    <H2>Very popular tags</H2>
    <div class="container-fluid">
        <div class="col-md-3" ng-repeat="tag in tags.tagListVeryPopular">
            <a ui-sref="bytag({'tag': tag.name})">{{tag.name}} ({{tag.stationcount}})</a>
        </div>
    </div>
    <H2>Popular tags</H2>
    <div class="container-fluid">
        <div class="col-md-3" ng-repeat="tag in tags.tagListPopular">
            <a ui-sref="bytag({'tag': tag.name})">{{tag.name}} ({{tag.stationcount}})</a>
        </div>
    </div>
    <H2>Rarely-used tags</H2>
    <div class="container-fluid">
        <div class="col-md-3" ng-repeat="tag in tags.tagListNotPopular">
            <a ui-sref="bytag({'tag': tag.name})">{{tag.name}} ({{tag.stationcount}})</a>
        </div>
    </div>
</div>
