<div ng-show="tagList.length > 0">
    <H2>Very popular tags</H2>
    <div class="container-fluid">
        <div class="col-md-3" ng-repeat="tag in tagListVeryPopular">
            <button class="btn btn-xs btn-link" ng-click="displayByTag(tag.name)">{{tag.name}} ({{tag.stationcount}})</button>
        </div>
    </div>
    <H2>Popular tags</H2>
    <div class="container-fluid">
        <div class="col-md-3" ng-repeat="tag in tagListPopular">
            <button class="btn btn-xs btn-link" ng-click="displayByTag(tag.name)">{{tag.name}} ({{tag.stationcount}})</button>
        </div>
    </div>
    <H2>Used once</H2>
    <div class="container-fluid">
        <div class="col-md-3" ng-repeat="tag in tagListNotPopular">
            <button class="btn btn-xs btn-link" ng-click="displayByTag(tag.name)">{{tag.name}} ({{tag.stationcount}})</button>
        </div>
    </div>
</div>
