<div>
    <div class="text-center">
        <h2>This service is used by the following projects</h2>
        <p>
            If you know an app that is using this service but not listed here, please drop me a note.<br />
            Applications/apps with ⭐ are recommended.
        </p>
    </div>
    <div class="container">
        <div clas="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Android</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>⭐ RadioDroid2</td>
                            <td><a
                                    href="https://play.google.com/store/apps/details?id=net.programmierecke.radiodroid2">PlayStore</a>,
                                <a href="https://f-droid.org/packages/net.programmierecke.radiodroid2/">F-Droid</a>, <a
                                    href="https://github.com/segler-alex/RadioDroid">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Open Radio</td>
                            <td><a
                                    href="https://play.google.com/store/apps/details?id=com.yuriy.openradio">Playstore</a>,
                                <a href="https://bitbucket.org/ChernyshovYuriy/openradio">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Transistor</td>
                            <td><a
                                    href="https://play.google.com/store/apps/details?id=org.y20k.transistor">Playstore</a>,
                                <a href="https://f-droid.org/packages/org.y20k.transistor/">F-Droid</a>,
                                <a href="https://github.com/y20k/transistor">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Musicbox</td>
                            <td><a
                                    href="https://play.google.com/store/apps/details?id=com.humbergsoftware.musicbox.androidapp">PlayStore</a>
                            </td>
                        </tr>
                        <tr>
                            <td>RadioMobi</td>
                            <td><a
                                    href="https://play.google.com/store/apps/details?id=com.paqapaqa.radiomobi">PlayStore</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Internet Radio</td>
                            <td>
                                <a href="https://f-droid.org/packages/community.peers.internetradio/">F-Droid</a>, <a
                                    href="https://notabug.org/zPlus/InternetRadio">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>335</td>
                            <td>
                                <a href="https://www.indr.ch/3-3-5/">Homepage</a>, <a
                                    href="https://github.com/indr/335">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>RadioS2S</td>
                            <td>
                                <a
                                    href="https://play.google.com/store/apps/details?id=com.scriptel.simplyradio">PlayStore</a>,
                                <a href="https://radios2s.scriptel.nl">Homepage</a>,
                                <a href="https://github.com/fsch0203/radios2s">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Chromecast Radio (Castro)</td>
                            <td><a href="https://play.google.com/store/apps/details?id=guru.tall.castro">PlayStore</a>
                            </td>
                        </tr>
                        <tr>
                            <td>TuneFM</td>
                            <td><a
                                    href="https://play.google.com/store/apps/details?id=fm.radio.sanity.radiofm">PlayStore</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Linux</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>⭐ Shortwave</td>
                            <td><a href="https://flathub.org/apps/details/de.haeckerfelix.Shortwave">Flatpak</a>, <a
                                    href="https://gitlab.gnome.org/World/Shortwave">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Tuner</td>
                            <td><a href="https://github.com/tuner-elementary/tuner">Sources</a>, <a
                                    href="https://appcenter.elementary.io/com.github.louis77.tuner">ElementaryOs</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Odio</td>
                            <td><a href="https://odio.io/">Homepage</a>, <a
                                    href="https://snapcraft.io/odio">SnapStore</a>
                            </td>
                        </tr>
                        <tr>
                            <td>StreamTuner2</td>
                            <td><a href="http://milki.include-once.org/streamtuner2/">Homepage</a>
                            </td>
                        </tr>
                        <tr>
                            <td>QMPlay2</td>
                            <td><a href="https://aur.archlinux.org/packages/qmplay2/">Arch</a>, <a
                                    href="https://packages.gentoo.org/packages/media-video/qmplay2">Gentoo</a>, <a
                                    href="https://github.com/zaps166/QMPlay2">Sources</a></td>
                        </tr>
                        <tr>
                            <td>Rhythmbox-Radio-Browser</td>
                            <td>
                                <a href="https://github.com/fossfreedom/radio-browser">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Gnome shell plugin</td>
                            <td><a href="https://extensions.gnome.org/extension/836/internet-radio/">Addon
                                    Repository</a>, <a
                                    href="https://github.com/hslbck/gnome-shell-extension-radio">Sources</a>
                                </li>
                            </td>
                        </tr>
                        <tr>
                            <td>Advanced Radio Player (KDE 5)</td>
                            <td>
                                <a href="https://www.pling.com/p/1313987/">KDE Store</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>iOS</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>⭐ Cuterdio</td>
                            <td><a
                                    href="https://apps.apple.com/de/app/cuterdio-internet-radio-app/id1489513385">AppStore</a>,
                                <a href="https://cuterdio.com">Homepage</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Triode Radio</td>
                            <td><a href="https://apps.apple.com/us/app/triode/id1446513724">AppStore</a>, <a
                                    href="https://triode.app/">Homepage</a>, <a
                                    href="http://support.iconfactory.com/kb/triode/my-station-isnt-listed-in-find-a-station">Support
                                    page</a></td>
                        </tr>
                        <tr>
                            <td>InstaRadio</td>
                            <td> <a
                                    href="https://apps.apple.com/us/app/instaradio-radio-player/id538537206">AppStore</a>,
                                <a href="https://www.soriko.no/instaradio/">Developer Site</a></td>
                        </tr>
                        <tr>
                            <td>Radio Volume Booster</td>
                            <td> <a href="https://apps.apple.com/us/app/id887768699">AppStore</a>, <a
                                    href="https://petralex.pro/de/apps/radio">Developer Site</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Frog Radio</td>
                            <td><a href="https://apps.apple.com/us/app/frogradio/id1442306286">AppStore</a>, <a
                                    href="https://frogradio.net/">Developer Site</a></td>
                        </tr>
                        <tr>
                            <td>Tune Hunter</td>
                            <td><a href="https://apps.apple.com/at/app/tune-hunter/id1440690657">AppStore</a></td>
                        </tr>
                        <tr>
                            <td>432 Player Radio</td>
                            <td>
                                <a href="https://apps.apple.com/us/app/432-player-radio/id1479883396">AppStore</a>, <a
                                    href="https://www.432player.com/">Homepage</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>OS X/Mac</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Odio</td>
                            <td><a href="https://odio.io/">Homepage</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Cuterdio</td>
                            <td><a href="https://apps.apple.com/de/app/cuterdio-internet-radio-app/id1489513385">Mac
                                    AppStore</a>,
                                <a href="https://cuterdio.com">Homepage</a>
                            </td>
                        </tr>
                        <tr>
                            <td>QMPlay2</td>
                            <td><a href="https://github.com/zaps166/QMPlay2">Sources</a></td>
                        </tr>
                        <tr>
                            <td>Frog Radio</td>
                            <td><a href="https://apps.apple.com/us/app/frogradio/id1436648621?mt=12">Mac AppStore</a>,
                                <a href="https://frogradio.net/">Developer Site</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Do it yourself projects</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>ESP32 Radio</td>
                            <td><a
                                    href="https://www.pschatzmann.ch/home/2020/04/13/the-most-beautiful-radio-music-player-for-the-esp32/">Homepage</a>,
                                <a href="https://github.com/pschatzmann/esp32_radio">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>YCast (AV-Receiver)</td>
                            <td>
                                <a href="https://github.com/milaq/YCast">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>BotAMusique (Mumblebot)</td>
                            <td>
                                <a href="https://github.com/azlux/botamusique">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>AsTeRICS Grid</td>
                            <td>
                                <a href="https://github.com/asterics/AsTeRICS-Grid">Homepage</a>
                            </td>
                        </tr>
                        <tr>
                            <td>InternetRadio (Dreambox)</td>
                            <td><a
                                    href="https://dreambox.de/board/index.php?thread/16645-e2-plugin-internetradio-mit-musik-visualisierung-und-webinterface/&postID=111994#post111994">Forum</a>
                            </td>
                        </tr>
                        <tr>
                            <td>MusicCenter (Dreambox)</td>
                            <td><a
                                    href="https://board.dreambox.tools/wbb/index.php?thread/9066-musiccenter-9-1-r0-musik-plugin-10-12-2017/&postID=169674#post169674">Forum</a>
                            </td>
                        </tr>
                        <tr>
                            <td>ziptuner (openwrt)</td>
                            <td>
                                <a href="https://macrofig.blogspot.com/2017/03/back-in-groove.html">Forum</a>,
                                <a href="https://github.com/deeice/ziptuner">Sources</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Web</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>⭐ Radio-li-se</td>
                            <td><a href="https://radiolise.gitlab.io/">Homepage</a>, <a
                                    href="https://gitlab.com/radiolise/radiolise.gitlab.io">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Radiobrowser (this page)</td>
                            <td><a href="https://github.com/segler-alex/radiobrowser">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Radiobrowser (Angular 7)</td>
                            <td><a href="https://github.com/kyjus25/radiobrowser">Sources</a></td>
                        </tr>
                        <tr>
                            <td>Radio Bemba</td>
                            <td><a href="https://bemba.surge.sh/">Homepage</a> (Broken: needs update to API.radio-browser.info)
                            </td>
                        </tr>
                        <tr>
                            <td>Nextcloud plugin</td>
                            <td><a href="https://apps.nextcloud.com/apps/radio">Repository</a></td>
                        </tr>
                        <tr>
                            <td>RadioS2S (Chrome)</td>
                            <td><a
                                    href="https://chrome.google.com/webstore/detail/radio-station-to-station/bjgdhmgldpmbfokgehkdkddahldjjmnc?hl=nl">Homepage</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Other</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>AllRadio (Jolla SailfishOS)</td>
                            <td><a href="https://nesnomis.wordpress.com/sailfishosjolla/allradio/">Homepage</a>, <a
                                    href="https://github.com/nesnomis/harbour-allradio">Sources</a></td>
                        </tr>
                        <tr>
                            <td>StreamRadio (HaikuOS)</td>
                            <td><a href="https://depot.haiku-os.org/__multipage/pkg/streamradio/haikuports/0/0/5_1/-/1/x86_64">HaikuDepot</a>, <a
                                    href="https://github.com/HaikuArchives/StreamRadio">Sources</a></td>
                        </tr>
                        
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Home automation, personal assistent</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Mycroft skill</td>
                            <td>
                                <a href="https://community.mycroft.ai/t/radio-skill-based-on-pyradios/8180">Forum</a>,
                                <a href="https://github.com/andlo/radio-skill">Sources</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Windows</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Odio</td>
                            <td><a href="https://odio.io/">Homepage</a>
                            </td>
                        </tr>
                        <tr>
                            <td>StreamTuner2</td>
                            <td><a href="http://milki.include-once.org/streamtuner2/">Homepage</a>
                            </td>
                        </tr>
                        <tr>
                            <td>QMPlay2</td>
                            <td><a href="https://github.com/zaps166/QMPlay2">Sources</a></td>
                        </tr>
                        <tr>
                            <td>NetRadio</td>
                            <td><a href="https://archive.codeplex.com/?p=netradio">Homepage</a></td>
                        </tr>
                        <tr>
                            <td>M3U Editor</td>
                            <td>
                                <a href="https://erdesigns.eu/app/premium/m3u-editor/overview">Homepage</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Developer things</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>radiobrowser4j (java)</td>
                            <td>
                                <a href="https://github.com/sfuhrm/radiobrowser4j">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>NodeJS module</td>
                            <td>
                                <a href="https://www.npmjs.com/package/radio-browser">NPM</a>, <a
                                    href="https://github.com/nepodev/radio-browser">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>NodeJS module (TS)</td>
                            <td>
                                <a href="https://www.npmjs.com/package/radio-browser-api">NPM</a>, <a
                                    href="https://github.com/ivandotv/radio-browser-api">Sources</a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Python module (pyradios)</td>
                            <td>
                                <a href="https://pypi.org/project/pyradios/">pypi.org</a>, <a
                                    href="https://github.com/andreztz/pyradios">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Python module (aioradios)</td>
                            <td>
                                <a href="https://pypi.org/project/aioradios/">pypi.org</a>, <a
                                    href="https://github.com/P3qch/aioradios">Sources</a>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>Rust crate</td>
                            <td>
                                <a href="https://crates.io/crates/rustio">crates.io</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Go library</td>
                            <td>
                                <a href="https://gitlab.com/AgentNemo/goradios">goradios</a>
                            </td>
                        </tr>
                        <tr>
                            <td>GraphQL module</td>
                            <td>
                                <a href="https://github.com/ricardocasares/radio-gql">GitHub</a>
                            </td>
                        </tr>
                        <tr>
                            <td>DOKK</td>
                            <td><a href="https://dokk.org/dokk/about">Homepage</a></td>
                        </tr>
                        <tr>
                            <td>Radio app in flutter</td>
                            <td>
                                <a href="https://themobilecoder.com/make-a-radio-app-in-flutter-part-2/">tutorial</a>
                            </td>
                        </tr>
                        
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Raspberry Pi projects</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>RadioPi</td>
                            <td>
                                <a href="https://github.com/cwahlmann/radiopi">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Musicbox</td>
                            <td><a
                                    href="https://play.google.com/store/apps/details?id=com.humbergsoftware.musicbox.androidapp">PlayStore</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Console</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>PyRadio (Curses)</td>
                            <td>
                                <a href="https://github.com/coderholic/pyradio">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Pext (python)</td>
                            <td><a href="https://github.com/Pext/pext_module_radiobrowser">Sources</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Wearables, Watches,..</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Streamlets (Apple Watch)</td>
                            <td>
                                <a href="https://apps.apple.com/gb/app/streamlets/id1507575984">AppStore</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Media center</h3>
                    </div>
                    <table class="table">
                        <tr>
                            <td>Kodi Radio Browser</td>
                            <td><a href="https://kodi.tv/addon/music-add-ons-plugins/radio-browserinfo">Kodi
                                    Addon Repository</a>, <a
                                    href="https://github.com/segler-alex/kodi-radio-browser">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>RompR</td>
                            <td><a href="https://fatg3erman.github.io/RompR/">Homepage</a>, <a
                                    href="https://github.com/fatg3erman/RompR">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>Mopidy plugin</td>
                            <td>
                                <a href="https://github.com/RalfLangeDresden/mopidy-radiobrowser">Sources</a>
                            </td>
                        </tr>
                        <tr>
                            <td>MPD client</td>
                            <td>
                                <a href="https://github.com/krisek/audioloader/">Sources</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
