<!doctype html>
<html ng-app="RadioBrowserApp">

<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="https://raw.github.com/nickdesaulniers/javascript-playlist-parser/master/lib/parser.min.js"></script>

  <script src="app.js"></script>
  <script src="main.js"></script>
</head>

<script type="text/ng-template" id="customTemplate.html">
  <a>
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span> ({{match.model.country}})
  </a>
</script>

<body ng-controller="MainController">
  <a href="https://github.com/segler-alex/radiobrowser"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
    alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

  <div class="page-header">
    <H1>Community Radio Browser</H1>
  </div>

  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" ng-click="clearList()">Home</a></li>
      <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab" ng-click="clearList()">Search</a></li>
      <li role="presentation"><a href="#topclick" aria-controls="topclick" role="tab" data-toggle="tab" ng-click="displayTopClick()">By clicks</a></li>
      <li role="presentation"><a href="#topvote" aria-controls="topvote" role="tab" data-toggle="tab" ng-click="displayTopVote()">By vote</a></li>
      <li role="presentation"><a href="#countries" aria-controls="countries" role="tab" data-toggle="tab" ng-click="displayCountries()">By country</a></li>
      <li role="presentation"><a href="#newstation" aria-controls="newstation" role="tab" data-toggle="tab" ng-click="clearList()">New station</a></li>
      <li role="presentation"><a href="#api" aria-controls="api" role="tab" data-toggle="tab" ng-click="clearList()">Developer API</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <p>This is a community approach to collect as many internet radio stations as possible. Any help is appreciated!</p>
        <p>Station count at the moment: <b><?=$station_count?></b>
          <br/> Station clicks last hour: <b><?=$station_clicks_hour?></b>
        </p>
        <p>Everyone can use this station board in their software freely. Just have a look at the API documentation.</p>
        <p>To play the stations you need some media player software like:
          <br/>
          <ul>
            <li><a href="http://www.winamp.com/">Winamp</a> (Windows)</li>
            <li><a href="http://videolan.org">VLC</a> (Windows, Linux)</li>
            <li>many many more....</li>
            <li>yes maybe windows media player works too :)</li>
          </ul>
        </p>
        <p>It is used by the following projects:
          <ul>
            <li><a href="http://www.programmierecke.net/programmed/rhythmbox-radio-browser.html">Rhythmbox-Radio-Browser</a> - A plugin for <a href="http://projects.gnome.org/rhythmbox/">rhythmbox</a></li>
            <li><a href="https://github.com/fossfreedom/radio-browser">Rhythmbox-Radio-Browser Fork for GTK 3.0</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=net.programmierecke.radiodroid">RadioDroid for android systems</a> - <a href="https://github.com/segler-alex/RadioDroid">Source on GitHub</a></li>
            <li><a href="http://www.dream-multimedia-tv.de/board/index.php?page=Thread&threadID=16645">DreamBox Plugin</a></li>
          </ul>
        </p>
        <p><u>Legal:</u>
          <br/> I'm not in any way responsible for the entries on this webpage because this is a community driven effort (like wikipedia for example). Nor am I responsible for the radio stations that can be found here themselves.
        </p>
        <p>Admin: <a href="mailto:segler_alex@web.de">Mail</a></p>
      </div>

      <div role="tabpanel" class="tab-pane" id="search">
        <form>
          <input ng-model="searchterm">
          <button class="btn btn-default" ng-click="doSearch(searchterm)">Search</button>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="topclick"></div>
      <div role="tabpanel" class="tab-pane" id="topvote"></div>
      <div role="tabpanel" class="tab-pane" id="countries">
        <div class="container-fluid">
          <div ng-show="countryList" class="col-md-3" ng-repeat="country in countryList">
            <button class="btn btn-xs btn-link" ng-click="displayByCountry(country.value)">{{country.value}} ({{country.stationcount}})</button>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="newstation">
        <div style="width:400px">
          <H2>New</H2>
          <form>
            <div class="form-group">
              <label for="StationName">Name</label>
              <input type="text" class="form-control" id="StationName" placeholder="Name..">
            </div>
            <div class="form-group">
              <label for="StationCountry">Country</label>
              <input type="text" class="form-control" id="StationCountry" placeholder="Country.." ng-model="StationCountry" uib-typeahead="country for country in getCountries($viewValue)">
            </div>
            <div class="form-group">
              <label for="StationState">State</label>
              <input type="text" class="form-control" id="StationState" placeholder="State.." ng-model="StationState" uib-typeahead="state.value for state in getStates($viewValue)" typeahead-template-url="customTemplate.html">
            </div>
            <div class="form-group">
              <label for="StationLanguage">Language</label>
              <input type="text" class="form-control" id="StationLanguage" placeholder="Language.." ng-model="StationLanguage" uib-typeahead="language for language in getLanguages($viewValue)">
            </div>
          </form>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="api">
        <div style="width:800px">
          <h2>General</h2> This webservice can be used freely but without guarantee to work. I am keeping it only since more than 2 years now. But downtimes are possible and i am not always home to fix it :) Please do not hesitate to send me ideas to improve the service!
          <a href="segler_alex@web.de">segler_alex AT web DOT de</a>

          <h2>List of countries</h2>
          <div class="header_sub">Syntax:</div>
          <div class="syntax"> http://www.radio-browser.info/webservice/json/countries
            <br /> http://www.radio-browser.info/webservice/json/countries/&lt;filter&gt;
            <br />
          </div>
          <div class="header_sub">Description:</div>
          Will get a JSON encoded list of all countries in the database. If a filter is given, it will only only return the ones that contain the filter as substring.
          <br />
          <div class="header_sub">Example:</div>
          <div> <a href="http://www.radio-browser.info/webservice/json/countries" target="_blank">http://www.radio-browser.info/webservice/json/countries</a></div>

          <h2>List of states</h2>
          <div class="header_sub">Syntax:</div>
          <div class="syntax"> http://www.radio-browser.info/webservice/json/states
            <br /> http://www.radio-browser.info/webservice/json/states/&lt;filter&gt;
            <br /> http://www.radio-browser.info/webservice/json/states/&lt;country&gt;/&lt;filter&gt;
            <br />
          </div>
          <div class="header_sub">Description:</div>
          Will get a JSON encoded list of all states in the database. Countries are divided into states. If a filter is given, it will only only return the ones that contain the filter as substring. If a country is given, it will only display states in this country.
          <br />
          <div class="header_sub">Example:</div>
          <div> <a href="http://www.radio-browser.info/webservice/json/states" target="_blank">http://www.radio-browser.info/webservice/json/states</a></div>
          <div> <a href="http://www.radio-browser.info/webservice/json/states/ber" target="_blank">http://www.radio-browser.info/webservice/json/states/ber</a></div>
          <div> <a href="http://www.radio-browser.info/webservice/json/states/Germany/ber" target="_blank">http://www.radio-browser.info/webservice/json/states/Germany/ber</a></div>

          <h2>List of languages</h2>
          <div class="header_sub">Syntax:</div>
          <div class="syntax">
            http://www.radio-browser.info/webservice/json/languages
            <br /> http://www.radio-browser.info/webservice/json/languages/&lt;filter&gt;
            <br />
          </div>
          <div class="header_sub">Description:</div>
          Will get a JSON encoded list of all languages in the database. If a filter is given, it will only only return the ones that contain the filter as substring.
          <br />
          <div class="header_sub">Example:</div>
          <div> <a href="http://www.radio-browser.info/webservice/json/languages" target="_blank">http://www.radio-browser.info/webservice/json/languages</a></div>

          <h2>List of tags</h2>
          <div class="header_sub">Syntax:</div>
          <div class="syntax"> http://www.radio-browser.info/webservice/json/tags
            <br /> http://www.radio-browser.info/webservice/json/tags/&lt;filter&gt;
            <br />
          </div>
          <div class="header_sub">Description:</div>
          Will get a JSON encoded list of all tags in the database. If a filter is given, it will only only return the ones that contain the filter as substring.
          <br />
          <div class="header_sub">Example:</div>
          <div> <a href="http://www.radio-browser.info/webservice/json/tags" target="_blank">http://www.radio-browser.info/webservice/json/tags</a></div>

          <h2>List of radio stations</h2>
          <div class="header_sub">Syntax:</div>
          http://www.radio-browser.info/webservice/xml/stations
          <br /> http://www.radio-browser.info/webservice/xml/stations/searchterm
          <br /> http://www.radio-browser.info/webservice/xml/stations/byid/searchterm
          <br /> http://www.radio-browser.info/webservice/xml/stations/bycountry/searchterm
          <br /> http://www.radio-browser.info/webservice/xml/stations/bylanguage/searchterm
          <br /> http://www.radio-browser.info/webservice/xml/stations/bytag/searchterm
          <br />
          <br/> http://www.radio-browser.info/webservice/json/stations
          <br /> http://www.radio-browser.info/webservice/json/stations/searchterm
          <br /> http://www.radio-browser.info/webservice/json/stations/byid/searchterm
          <br /> http://www.radio-browser.info/webservice/json/stations/bycountry/searchterm
          <br /> http://www.radio-browser.info/webservice/json/stations/bylanguage/searchterm
          <br /> http://www.radio-browser.info/webservice/json/stations/bytag/searchterm
          <br />
          <div class="header_sub">Description:</div>
          Will get a list of all radio stations. It is possible to add a search term to only get stations that have the term in their names.
          <br /> It is also possible to select stations based on their country, language, tags or id.
          <br/> Supported output formats: json,xml
          <br/>
          <div class="header_sub">Example:</div>
          <div><a href="http://www.radio-browser.info/webservice/xml/stations" target="_blank">http://www.radio-browser.info/webservice/xml/stations</a></div>
          <div><a href="http://www.radio-browser.info/webservice/json/stations/jazz" target="_blank">http://www.radio-browser.info/webservice/json/stations/jazz</a></div>
          <div><a href="http://www.radio-browser.info/webservice/xml/stations/bycountry/austria" target="_blank">http://www.radio-browser.info/webservice/xml/stations/bycountry/austria</a></div>

          <h2>Stations by clicks</h2>
          <div class="header_sub">Syntax:</div>
          http://www.radio-browser.info/webservice/xml/stations/topclick
          <br /> http://www.radio-browser.info/webservice/xml/stations/topclick/rowcount
          <br /> http://www.radio-browser.info/webservice/json/stations/topclick
          <br /> http://www.radio-browser.info/webservice/json/stations/topclick/rowcount
          <br />
          <div class="header_sub">Description:</div>
          Returns a list of the stations that are clicked the most. You can add a parameter with the number of wanted stations. Supported output formats: json,xml
          <br/>
          <div class="header_sub">Example:</div>
          <div><a href="http://www.radio-browser.info/webservice/xml/stations/topclick" target="_blank">http://www.radio-browser.info/webservice/xml/stations/topclick</a></div>
          <div><a href="http://www.radio-browser.info/webservice/json/stations/topclick/5" target="_blank">http://www.radio-browser.info/webservice/json/stations/topclick/5</a></div>

          <h2>Stations by votes</h2>
          <div class="header_sub">Syntax:</div>
          http://www.radio-browser.info/webservice/xml/stations/topvote
          <br /> http://www.radio-browser.info/webservice/xml/stations/topvote/rowcount
          <br /> http://www.radio-browser.info/webservice/json/stations/topvote
          <br /> http://www.radio-browser.info/webservice/json/stations/topvote/rowcount
          <br />
          <div class="header_sub">Description:</div>
          Returns a list of the highest voted stations. You can add a parameter with the number of wanted stations. Supported output formats: json,xml
          <br/>
          <div class="header_sub">Example:</div>
          <div><a href="http://www.radio-browser.info/webservice/xml/stations/topvote" target="_blank">http://www.radio-browser.info/webservice/xml/stations/topvote</a></div>
          <div><a href="http://www.radio-browser.info/webservice/json/stations/topvote/5" target="_blank">http://www.radio-browser.info/webservice/json/stations/topvote/5</a></div>

          <h2>Stations that got clicked recently</h2>
          <div class="header_sub">Syntax:</div>
          http://www.radio-browser.info/webservice/xml/stations/lastclick
          <br /> http://www.radio-browser.info/webservice/xml/stations/lastclick/rowcount
          <br /> http://www.radio-browser.info/webservice/json/stations/lastclick
          <br /> http://www.radio-browser.info/webservice/json/stations/lastclick/rowcount
          <br />
          <div class="header_sub">Description:</div>
          Returns a list of stations that got clicked recently. Supported output formats: json,xml
          <br/>
          <div class="header_sub">Example:</div>
          <div><a href="http://www.radio-browser.info/webservice/xml/stations/lastclick" target="_blank">http://www.radio-browser.info/webservice/xml/stations/lastclick</a></div>
          <div><a href="http://www.radio-browser.info/webservice/json/stations/lastclick/5" target="_blank">http://www.radio-browser.info/webservice/json/stations/lastclick/5</a></div>

          <h2>Playable station url</h2>
          <div class="header_sub">Syntax:</div>
          http://www.radio-browser.info/webservice/xml/url/stationid
          <br /> http://www.radio-browser.info/webservice/json/url/stationid
          <br /> http://www.radio-browser.info/webservice/pls/url/stationid
          <br />
          <div class="header_sub">Description:</div>
          Returns the playable url for the station. Does return 404 code if the playlist on the remote server could not be retrieved. In this case the station is not working any more and needs to get updated. Supported output formats: json,xml,pls (playlist)
          <br/>
          <div class="header_sub">Example:</div>
          <div><a href="http://www.radio-browser.info/webservice/xml/url/123" target="_blank">http://www.radio-browser.info/webservice/xml/url/123</a></div>
          <div><a href="http://www.radio-browser.info/webservice/json/url/123" target="_blank">http://www.radio-browser.info/webservice/json/url/123</a></div>
          <div><a href="http://www.radio-browser.info/webservice/pls/url/123" target="_blank">http://www.radio-browser.info/webservice/pls/url/123</a></div>

          <h2>Server stats</h2>
          <div class="header_sub">Syntax:</div>
          http://www.radio-browser.info/webservice/xml/stats
          <br /> http://www.radio-browser.info/webservice/json/stats
          <br />
          <div class="header_sub">Description:</div>
          Webservice stats. Supported output formats: json,xml
          <br/>
          <div class="header_sub">Example:</div>
          <a href="http://www.radio-browser.info/webservice/xml/stats" target="_blank">http://www.radio-browser.info/webservice/xml/stats</a>
          <br/>
        </div>
      </div>
    </div>

    <table class="table table-condensed table-hover" ng-show="bigTotalItems > 0">
      <thead>
        <th width="10"></th>
        <th width="10"><span class="glyphicon glyphicon-thumbs-up" /></th>
        <th>Name</th>
        <th>Country</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="station in resultList">
          <td align="right"><img src="{{station.favicon}}" height="20px" /></td>
          <td>{{station.votes}}</td>
          <td>{{station.name}}</td>
          <td>{{station.country}} / {{station.subcountry }}</td>
          <td>
            <button class="btn btn-link btn-xs" ng-click="play(station.id)"><span class="glyphicon glyphicon-play" /></button>
            <a href="{{station.homepage}}" ng-show="station.homepage"><span class="btn btn-link btn-xs glyphicon glyphicon-home" /></a>
          </td>
        </tr>
      </tbody>
    </table>
    <uib-pagination ng-show="bigTotalItems > 0" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" num-pages="numPages" items-per-page="itemsPerPage" force-ellipses="true" ng-change="updateList()"></uib-pagination>
  </div>
</body>

</html>
