<!doctype html>
<html ng-app="RadioBrowserApp">

<head>
  <title>Community Radio Station Board</title>

  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
  <link rel="stylesheet" href="css/main.css">

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="https://raw.github.com/nickdesaulniers/javascript-playlist-parser/master/lib/parser.min.js"></script>
  <script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
  <script src="bower_components/angular-bootstrap-slider/slider.js"></script>

  <script src="app.js"></script>
  <script src="main.js"></script>
</head>

<script type="text/ng-template" id="customTemplate.html">
  <a>
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span> ({{match.model.country}})
  </a>
</script>

<body ng-controller="MainController">
  <!-- <div class="page-header">
    <H1>Community Radio Browser</H1>
  </div> -->
  <div>
    <!-- Nav tabs -->
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Community Radio Browser</a>
      </div>
      <ul class="nav navbar-nav" id="mytabs">
        <!-- <ul class="nav nav-tabs" role="tablist"> -->
        <li role="presentation" ng-class="{active: tab==='home'}"><a href="" aria-controls="home" role="tab" ng-click="setTab('home')">Home</a></li>
        <li role="presentation" ng-class="{active: tab==='byclicks'}"><a href="" aria-controls="topclick" role="tab" ng-click="setTab('byclicks')">By clicks</a></li>
        <li role="presentation" ng-class="{active: tab==='byvotes'}"><a href="" aria-controls="topvote" role="tab" ng-click="setTab('byvotes')">By vote</a></li>
        <li role="presentation" ng-class="{active: tab==='bycountry'}"><a href="" aria-controls="countries" role="tab" ng-click="setTab('bycountry')">By country</a></li>
        <li role="presentation" ng-class="{active: tab==='bylanguage'}"><a href="" aria-controls="countries" role="tab" ng-click="setTab('bylanguage')">By language</a></li>
        <li role="presentation" ng-class="{active: tab==='bytags'}"><a href="" aria-controls="countries" role="tab" ng-click="setTab('bytag')">By tag</a></li>
        <li role="presentation" ng-class="{active: tab==='latelychanged'}"><a href="" aria-controls="latelychanged" role="tab" ng-click="setTab('latelychanged')">Lately changed</a></li>
        <li role="presentation" ng-class="{active: tab==='latelyplayed'}"><a href="" aria-controls="latelyplayed" role="tab" ng-click="setTab('latelyplayed')">Lately played</a></li>
        <li role="presentation" ng-class="{active: tab==='editstation'}"><a href="" aria-controls="newstation" role="tab" ng-click="setTab('editstation')">New station</a></li>
        <li role="presentation"><a href="http://www.radio-browser.info/webservice" aria-controls="api" role="tab" target="_blank">Developer API</a></li>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="searchterm">
          </div>
          <button type="submit" class="btn btn-default" ng-click="doSearch(searchterm)"><span class="glyphicon glyphicon-ok" /></button>
        </form>
      </ul>
    </nav>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" id="home" ng-show="tab==='home'">
        <div>
          <p>This is a community approach to collect as many internet radio stations as possible. Any help is appreciated!</p>
          <p>Station count at the moment: <b>{{stats.stations}}</b>
            <br/> Station clicks last hour: <b>{{stats.clicks_last_hour}}</b>
            <br/> Station clicks last day: <b>{{stats.clicks_last_day}}</b>
            <br/> Distinct tags: <b>{{stats.tags}}</b>
            <br/> Distinct countries: <b>{{stats.countries}}</b>
            <br/> Distinct languages: <b>{{stats.languages}}</b>
          </p>
          <p>Everyone can use this station board in their software freely. Just have a look at the API documentation.</p>
          <p>To play the stations you need some media player software like:
            <br/>
            <ul>
              <li><a href="http://www.winamp.com/">Winamp</a> (Windows)</li>
              <li><a href="http://videolan.org">VLC</a> (Windows, Linux)</li>
              <li><a href="https://www.clementine-player.org/">Clementine</a> (Windows/Linux)</li>
              <li>many many more....</li>
              <li>yes maybe windows media player works too :)</li>
            </ul>
          </p>
          <p>It is used by the following projects:
            <ul>
              <li><a href="http://www.programmierecke.net/programmed/rhythmbox-radio-browser.html">Rhythmbox-Radio-Browser</a> - A plugin for <a href="http://projects.gnome.org/rhythmbox/">rhythmbox</a></li>
              <li><a href="https://github.com/fossfreedom/radio-browser">Rhythmbox-Radio-Browser Fork for GTK 3.0</a></li>
              <li><a href="https://play.google.com/store/apps/details?id=net.programmierecke.radiodroid">RadioDroid (Android)</a> - <a href="https://github.com/segler-alex/RadioDroid">Source on GitHub</a></li>
              <li><a href="http://www.dream-multimedia-tv.de/board/index.php?page=Thread&threadID=16645">DreamBox Plugin</a></li>
              <li><a href="https://play.google.com/store/apps/details?id=com.humbergsoftware.musicbox.androidapp">Musicbox (Android)</a></li>
              <li>.. and of course this little angular webpage too :) which can be forked on <a href="https://github.com/segler-alex/radiobrowser">github</a></li>
            </ul>
          </p>
          <p><u>Legal:</u>
            <br/> I'm not in any way responsible for the entries on this webpage because this is a community driven effort (like wikipedia for example). Nor am I responsible for the radio stations that can be found here themselves.
          </p>
          <p>Admin: <a href="mailto:segler_alex@web.de">Mail</a></p>
        </div>
      </div>

      <div role="tabpanel" id="topclick"></div>
      <div role="tabpanel" id="topvote"></div>
      <div role="tabpanel" id="countries" ng-show="tab==='bycountry'">
        <div class="container-fluid">
          <div ng-show="countryList" class="col-md-3" ng-repeat="country in countryList">
            <button class="btn btn-xs btn-link" ng-click="displayByCountry(country.name)">{{country.name}} ({{country.stationcount}})</button>
          </div>
        </div>
      </div>
      <div role="tabpanel" id="countries" ng-show="tab==='bylanguage'">
        <div class="container-fluid">
          <div ng-show="languageList" class="col-md-3" ng-repeat="language in languageList">
            <button class="btn btn-xs btn-link" ng-click="displayByLanguage(language.name)">{{language.name}} ({{language.stationcount}})</button>
          </div>
        </div>
      </div>
      <div role="tabpanel" id="tags" ng-show="tab==='bytag'">
        <div ng-show="tagList.length > 0">
          <H2>Very popular tags</H2>
          <div class="container-fluid">
            <div class="col-md-3" ng-repeat="tag in tagListVeryPopular">
              <button class="btn btn-xs btn-link" ng-click="displayByTag(tag.name)">{{tag.name}} ({{tag.stationcount}})</button>
            </div>
          </div>
          <H2>Popular tags</H2>
          <div class="container-fluid">
            <div class="col-md-3" ng-repeat="tag in tagListPopular">
              <button class="btn btn-xs btn-link" ng-click="displayByTag(tag.name)">{{tag.name}} ({{tag.stationcount}})</button>
            </div>
          </div>
          <H2>Used once</H2>
          <div class="container-fluid">
            <div class="col-md-3" ng-repeat="tag in tagListNotPopular">
              <button class="btn btn-xs btn-link" ng-click="displayByTag(tag.name)">{{tag.name}} ({{tag.stationcount}})</button>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" id="newstation" ng-show="tab==='editstation'">
        <div style="width:600px">
          <H2 ng-hide="editStation.id">Add new station</H2>
          <H2 ng-show="editStation.id">Edit station</H2>
          <form class="form-horizontal">
            <div class="form-group">
              <label for="StationName" class="col-sm-2 control-label">Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="StationName" placeholder="Name.." ng-model="editStation.name">
              </div>
            </div>
            <div class="form-group">
              <label for="StationName" class="col-sm-2 control-label">URL</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="StationUrl" placeholder="http://.." ng-model="editStation.url">
              </div>
            </div>
            <div class="form-group">
              <label for="StationName" class="col-sm-2 control-label">Homepage</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="StationHomepage" placeholder="http://.." ng-model="editStation.homepage">
              </div>
            </div>
            <div class="form-group">
              <label for="StationName" class="col-sm-2 control-label">Favicon</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="StationIcon" placeholder="http://.." ng-model="editStation.favicon">
                <img src="{{editStation.favicon}}" height="40" />
              </div>
            </div>
            <div class="form-group">
              <label for="StationCountry" class="col-sm-2 control-label">Country</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="StationCountry" placeholder="Country.." ng-model="editStation.country" uib-typeahead="country.name for country in getCountries($viewValue)">
              </div>
            </div>
            <div class="form-group">
              <label for="StationState" class="col-sm-2 control-label">State</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="StationState" placeholder="State.." ng-model="editStation.subcountry" uib-typeahead="state.name for state in getStates($viewValue)" typeahead-template-url="customTemplate.html" />
              </div>
            </div>
            <div class="form-group">
              <label for="StationLanguage" class="col-sm-2 control-label">Language</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="StationLanguage" placeholder="Language.." ng-model="editStation.language" uib-typeahead="language.name for language in getLanguages($viewValue)" />
              </div>
            </div>
            <div class="form-group">
              <label for="StationTags" class="col-sm-2 control-label">Tags</label>
              <div class="col-sm-10">
                <span ng-repeat="value in editStation.tags_arr">
                  <span class="btn-group btn-group-xs">
                    <button class="btn btn-xs btn-default">{{value}}</button>
                    <button class="btn btn-xs btn-danger" ng-click="removeTag(value)"><span class="glyphicon glyphicon-remove"/></button>
                  </span>
                </span>
                <div class="input-group">
                  <input type="text" class="form-control" id="StationTags" placeholder="Tags.." ng-model="editStation.tag" uib-typeahead="tag.name for tag in getTags($viewValue)" ng-enter="addTag(editStation.tag)" />
                  <span class="input-group-btn">
                   <button class="btn btn-default" type="button" ng-click="addTag(editStation.tag)"><span class="glyphicon glyphicon-ok"/></button>
                </span>
                </div>
              </div>
            </div>
            <button class="btn btn-default" ng-click="sendStation()">Save</button>
          </form>
        </div>
      </div>
    </div>

    <table class="table table-condensed table-hover" ng-show="bigTotalItems > 0">
      <thead>
        <th width="10"></th>
        <th width="10"><span class="glyphicon glyphicon-thumbs-up" /></th>
        <th>Name</th>
        <th>Tags</th>
        <th>Country</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="station in resultList">
          <td align="right"><img src="{{station.favicon}}" height="20px" ng-show="station.favicon" /></td>
          <td>{{station.votes}}</td>
          <td>{{station.name}}</td>
          <td>
            <div class="btn btn-xs btn-info tagbutton" ng-repeat="value in getTagsArray(station.tags)" ng-click="displayByTag(value)">{{value}}</div>
          </td>
          <td>{{station.country}} <span ng-show="station.subcountry">/ {{station.subcountry }}</span></td>
          <td>
            <button class="btn btn-link btn-xs" ng-click="play(station.id)"><span class="glyphicon glyphicon-play" /></button>
            <a href="http://www.radio-browser.info/webservice/pls/url/{{station.id}}" class="btn btn-link btn-xs" ><span class="glyphicon glyphicon-floppy-disk" /></a>
            <a href="{{station.homepage}}" ng-show="station.homepage" target="_blank"><span class="btn btn-link btn-xs glyphicon glyphicon-home" /></a>
            <button class="btn btn-link btn-xs" ng-click="vote(station.id)"><span class="glyphicon glyphicon-thumbs-up" /></button>
            <button class="btn btn-link btn-xs" ng-click="edit(station)"><span class="glyphicon glyphicon glyphicon-pencil" /></button>
          </td>
        </tr>
      </tbody>
    </table>
    <center>
      <uib-pagination ng-show="bigTotalItems > 0" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" num-pages="numPages" items-per-page="itemsPerPage" force-ellipses="true" ng-change="updateList()"></uib-pagination>
    </center>
  </div>

  <div class="player bg-success container-fluid" ng-class="{'player-active':playerItem}">
    <div class="col-md-12"><u>Player active</u></div>
    <div class="col-md-8">{{playerItem.name}}</div>
    <div class="col-md-1"></div>
    <div class="col-md-1">
      <button class="btn btn-xs btn-link" ng-click="stopAudio()"><span class="glyphicon glyphicon-stop" /></button>
    </div>
    <div class="col-md-2 volumeslider">
      <slider ng-model="audioVolume" min="0" step="0.02" max="1" value="audioVolume" on-stop-slide="setVolume(audioVolume)"></slider>
    </div>
  </div>
  <a href="https://github.com/segler-alex/radiobrowser"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
      alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>
</body>

</html>
