<!doctype html>
<html ng-app="RadioBrowserApp">

<head>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="https://raw.github.com/nickdesaulniers/javascript-playlist-parser/master/lib/parser.min.js"></script>

  <script src="app.js"></script>
  <script src="main.js"></script>
</head>

<script type="text/ng-template" id="customTemplate.html">
  <a>
    <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span> ({{match.model.country}})
  </a>
</script>

<body ng-controller="MainController">
  <a href="https://github.com/segler-alex/radiobrowser"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
    alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>

  <div class="page-header">
    <H1>Community Radio Browser</H1>
  </div>

  <div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
      <li role="presentation"><a href="#search" aria-controls="search" role="tab" data-toggle="tab">Search</a></li>
      <li role="presentation"><a href="#topclick" aria-controls="topclick" role="tab" data-toggle="tab" ng-click="displayTopClick()">Topclick</a></li>
      <li role="presentation"><a href="#topvote" aria-controls="topvote" role="tab" data-toggle="tab" ng-click="displayTopVote()">Topvote</a></li>
      <li role="presentation"><a href="#newstation" aria-controls="newstation" role="tab" data-toggle="tab">New station</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <p>This is a community approach to collect as many internet radio stations as possible. Any help is appreciated!</p>
        <p>Station count at the moment: <b><?=$station_count?></b>
          <br/> Station clicks last hour: <b><?=$station_clicks_hour?></b>
        </p>
        <p>Everyone can use this station board in their software freely. Just have a look at the API documentation.</p>
        <p>To play the stations you need some media player software like:
          <br/>
          <ul>
            <li><a href="http://www.winamp.com/">Winamp</a> (Windows)</li>
            <li><a href="http://videolan.org">VLC</a> (Windows, Linux)</li>
            <li>many many more....</li>
            <li>yes maybe windows media player works too :)</li>
          </ul>
        </p>
        <p>It is used by the following projects:
          <ul>
            <li><a href="http://www.programmierecke.net/programmed/rhythmbox-radio-browser.html">Rhythmbox-Radio-Browser</a> - A plugin for <a href="http://projects.gnome.org/rhythmbox/">rhythmbox</a></li>
            <li><a href="https://github.com/fossfreedom/radio-browser">Rhythmbox-Radio-Browser Fork for GTK 3.0</a></li>
            <li><a href="https://play.google.com/store/apps/details?id=net.programmierecke.radiodroid">RadioDroid for android systems</a> - <a href="https://github.com/segler-alex/RadioDroid">Source on GitHub</a></li>
            <li><a href="http://www.dream-multimedia-tv.de/board/index.php?page=Thread&threadID=16645">DreamBox Plugin</a></li>
          </ul>
        </p>
        <p><u>Legal:</u>
          <br/> I'm not in any way responsible for the entries on this webpage because this is a community driven effort (like wikipedia for example). Nor am I responsible for the radio stations that can be found here themselves.
        </p>
        <p>Admin: <a href="mailto:segler_alex@web.de">Mail</a></p>
      </div>

      <div role="tabpanel" class="tab-pane" id="search">
        <form>
          <input ng-model="searchterm">
          <button class="btn btn-default" ng-click="doSearch(searchterm)">Search</button>
        </form>
      </div>
      <div role="tabpanel" class="tab-pane" id="topclick"></div>
      <div role="tabpanel" class="tab-pane" id="topvote"></div>
      <div role="tabpanel" class="tab-pane" id="newstation">
        <H2>New</H2>
        <form>
          <div class="form-group">
            <label for="StationName">Name</label>
            <input type="text" class="form-control" id="StationName" placeholder="Name..">
          </div>
          <div class="form-group">
            <label for="StationCountry">Country</label>
            <input type="text" class="form-control" id="StationCountry" placeholder="Country.." ng-model="StationCountry" uib-typeahead="country for country in getCountries($viewValue)">
          </div>
          <div class="form-group">
            <label for="StationState">State</label>
            <input type="text" class="form-control" id="StationState" placeholder="State.." ng-model="StationState" uib-typeahead="state.value for state in getStates($viewValue)" typeahead-template-url="customTemplate.html">
          </div>
          <div class="form-group">
            <label for="StationLanguage">Language</label>
            <input type="text" class="form-control" id="StationLanguage" placeholder="Language.." ng-model="StationLanguage" uib-typeahead="language for language in getLanguages($viewValue)">
          </div>
        </form>
      </div>
    </div>

    <table class="table table-condensed table-hover" ng-show="bigTotalItems > 0">
      <thead>
        <th>Name</th>
        <th>Country</th>
        <th></th>
      </thead>
      <tbody>
        <tr ng-repeat="station in resultList">
          <td><img src="{{station.favicon}}" height="20px" /> {{station.name}}</td>
          <td>{{station.country}} / {{station.subcountry }}</td>
          <td>
            <a href="{{station.url}}"><span class="glyphicon glyphicon-play" /></a>
            <button ng-click="play(station.id)">abc</button>
          </td>
        </tr>
      </tbody>
    </table>
    <uib-pagination ng-show="bigTotalItems > 0" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="5" class="pagination-sm" boundary-links="true" num-pages="numPages" items-per-page="itemsPerPage" force-ellipses="true" ng-change="updateList()"></uib-pagination>
  </div>
</body>

</html>
