<div>
    <div class="modal-header">
        <h3 class="modal-title">Stream added</h3>
    </div>
    <div class="modal-body">
        <div>
            The stream has been added to the database. It will not be available until the server did an automatic check
            on it.
            This may take up to 10 minutes.
        </div>
        <hr />
        <div>
            If the stream does not get marked as online then the url you provided may be wrong.
            Please check the stream link with a media play (for example <a href="http://videolan.org/">VLC</a> (FREE)).
            If the stream works with your mediaplayer, please drop me a <a href="mailto:segler_alex@web.de">note</a> or
            create a bug report on the subproject that does recognition of streams for radio-browser.
            <a href="https://github.com/segler-alex/av-stream-info-rust/issues">github</a>.
            <br />
            <br /> Thank you!
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</div>