<div>
    <div class="modal-header">
        <h3 class="modal-title">Result</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li>
                <u>Connection Check</u>
                <span ng-show="result.stream_check_ok === 'true'" class="glyphicon glyphicon-ok" style="color:green"></span>
                <span ng-show="result.stream_check_ok !== 'true'" class="glyphicon glyphicon-remove" style="color:red"></span>
            </li>
            <li ng-show="result.stream_check_ok === 'true'"><u>Bitrate</u> {{result.stream_check_bitrate}}</li>
            <li ng-show="result.stream_check_ok === 'true'"><u>Codec</u> {{result.stream_check_codec}}</li>
            <li>
                <u>Favicon Check</u>
                <span ng-show="result.favicon_check_done === 'true'" class="glyphicon glyphicon-ok"
                      style="color:green"></span>
                <span ng-show="result.favicon_check_done !== 'true'" class="glyphicon glyphicon-remove"
                      style="color:yellow"></span>
            </li>
            <li ng-show="result.favicon_check_done === 'true'">
                <u>Favicon Extraction</u>
                <span ng-show="result.favicon_check_ok === 'true'" class="glyphicon glyphicon-ok" style="color:green"></span>
                <span ng-show="result.favicon_check_ok !== 'true'" class="glyphicon glyphicon-remove"
                      style="color:yellow"></span>
                <br/>
                <img ng-src="{{result.favicon_check_url}}" ng-show="result.favicon_check_ok" width="100"/>
            </li>
        </ul>
        <div ng-show="result.stream_check_ok === 'false'">
            Please check the stream link with a media play (for example <a href="http://videolan.org/">VLC</a> (FREE)).
            If the stream works with your mediaplayer, please drop me a <a href="mailto:segler_alex@web.de">note</a> or
            create a bug report on
            <a href="https://github.com/segler-alex/radiobrowser/issues">github</a>.
            <br/>
            <br/> Thank you!
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    </div>
</div>
